@import "../../var.css";

.navigationTabs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;
  height: 40px;
  border-bottom: solid 1px var(--cc-charcoal-light1);
  list-style-type: none;
  padding: 0;
}

.tab {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  border-radius: 10px 10px 0 0;
  padding: 0 20px;
  margin: 0 5px;
  border-top: solid 1px var(--cc-charcoal-light1);
  border-left: solid 1px var(--cc-charcoal-light1);
  border-right: solid 1px var(--cc-charcoal-light1);
  width: fit-content;
  cursor: pointer;
}
.tab:active {
  color: white;
}

.tab.Partners {
  background-color: var(--cc-teal-light5);
}

.tab.Utilities {
  background-color: var(--cc-orange-light4);
}

.tab.Data.Games {
  background-color: var(--cc-charcoal-light2);
}

.tab.Data.Worlds {
background-color: var(--feedback-green-light4);
}

.tab.Partners:hover {
  background-color: var(--cc-teal-light3);
}

.tab.Utilities:hover {
  background-color: var(--cc-orange-light2);
}

.tab.Data.Games:hover {
  background-color: var(--cc-charcoal-light1);
}

.tab.Data.Worlds:hover {
background-color: var(--feedback-green-light2);
}

.tab.Partners.selected {
    background-color: var(--cc-teal-light3);
}

.tab.Utilities.selected {
    background-color: var(--cc-orange-light2);
}

.tab.Data.Games.selected {
    background-color: var(--cc-charcoal-light1);
}

.tab.Data.Worlds.selected {
  background-color: var(--feedback-green-light2);
}

ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
}